html {
  font-size: 16px;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

body {
  margin: 1rem;
  padding: 0;
  background: linear-gradient(135deg, #e4cdb9, #f1edaa);
  background-attachment: fixed;
}

h1 {
  color: #31130a;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 2rem;
  transition: color 0.2s ease, transform 0.2s ease;
  text-align: center;

  &:hover {
    color: #6d2525;
  }
}

nav {
  font-size: 1.7rem;
  display: flex;
  margin: 2rem auto;
  text-align: center;
  width: fit-content;

  a {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
      color: #31130a;
      transform: scale(1.1);
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    width: 100%;
  }

  li {
    display: table-row;
    background-color: #5a3119;
    border: 3px solid #ffd8bf;
    border-radius: 120px;

    &:hover {
      background-color: #ffd8bf;
    }

    &:nth-child(odd) {
      font-weight: bold;
      background-color: #2e2408;

      &:hover {
        background-color: #ffd8bf;
      }
    }

    a {
      display: table-cell;
      padding: 1rem 1.5rem;
      text-decoration: none;
      color: #ffd8bf;
      font-size: 1.5rem;
    }
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto;

  label {
    align-self: center;
    font-weight: bold;
    color: #31130a;
    font-size: 1.3rem;
  }

  input {
    width: 100%;
    padding: 0.8rem 1rem;
    border-color: #ffd8bf;
    border-radius: 20px;
    font-size: 1rem;

    &:focus {
      border-color: #ffd8bf;
      box-shadow: 0 0 5px #3d2c0d66;
      outline: none;
      background-color: #ffd8bf;
    }
  }

  button {
    padding: 0.8rem;
    border: 3px solid #ffd8bf;
    background-color: #31130a;
    border-radius: 20px;
    color: #ffd8bf;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
    width: 100%;
    margin-top: 1.5rem;

    &:hover {
      transform: scale(1.03);
    }
  }
}

.table-section {
  max-width: 70%;
  margin: 3rem auto;

  h2 {
    text-align: center;
    color: #31130a;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
    background-color: #ffffffcc;
    border-radius: 12px;
    table-layout: fixed;
  }

  th,
  td {
    padding: 1rem 1.2rem;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border: 5px solid white;
  }

  th {
    background-color: #31130a;
    color: #ffd8bf;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
  }

  tbody tr:nth-child(odd) {
    background-color: #fff8ed;
  }

  tbody tr:nth-child(even) {
    background-color: #fdf3c7;
  }

  tbody tr:hover {
    background-color: #fdfdfd;
    transform: scale(1.01);
    transition: all 0.3s ease;
    color: #31130a;
  }

  td {
    vertical-align: top;
  }
}

article {
  width: 70%;
  background: linear-gradient(135deg, #ece8d3, #fff8ed);
  border-radius: 15px;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 90%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  }

  h2 {
    text-align: left;
    color: #31130a;
    margin-bottom: 1rem;

    &:hover {
      color: #000000;
    }
  }
}
